<mat-card class="note-card" [formGroup]="noteFG" attr.isChild="{{isChild}}" attr.newNote="{{newNote}}" attr.noteId="{{noteAttributes.ID.value}}">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                {{noteAttributes.ID.value}}
                <mat-form-field>
                    <input matInput [matDatepicker]="index" formControlName="DATE" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="index"></mat-datepicker-toggle>
                    <mat-datepicker #index></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="TITLE" placeholder="Title">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="PARENT" placeholder="Parent">
                </mat-form-field>
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="note-contents">
            <textarea *ngIf="newNote" #focusElement matInput formControlName="NOTE" placeholder="Note"></textarea>
            <textarea *ngIf="!newNote" matInput formControlName="NOTE" placeholder="Note"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="newNote" attr.noteId="{{noteAttributes.ID.value}}" class="saveButton" mat-button (click)="_ns.saveNote(noteFG)">
            <mat-icon class="buttonIcon" mat-icon>save</mat-icon> Save
        </button>
        <button *ngIf="!newNote" attr.noteId="{{noteAttributes.ID.value}}" class="saveButton" mat-button (click)="_ns.updateNote(noteFG)">
            <mat-icon class="buttonIcon" mat-icon>save</mat-icon> Update
        </button>

        <button *ngIf="newNote" attr.noteId="{{noteAttributes.ID.value}}" class="deleteButton" mat-button (click)="_ns.deleteNewNote(noteFG)">
            <mat-icon class="buttonIcon" mat-icon>delete</mat-icon> Delete
        </button>
        <button *ngIf="!newNote" attr.noteId="{{noteAttributes.ID.value}}" class="deleteButton" mat-button (click)="_ns.deleteSavedNote(noteFG)">
            <mat-icon class="buttonIcon" mat-icon>delete</mat-icon> Delete
        </button>
        <mat-spinner *ngIf="noteProperties && noteProperties['saving']" diameter="25" class="note-save-progress"></mat-spinner>
    </mat-card-actions>
</mat-card>