.note-card, .new-note-card {
    width: 100%;
}

.note-card > .mat-card-content,
.new-note-card > .mat-card-content {
    margin: 0px;
}

.note-save-progress {
    float: right;
    margin: 5px 10px 0px 0px;
}

.note-card[newNote='true'] {
    background: #f9efff;
}

.note-card[newNote='false'] {
    background: #eafaff;
}

.note-card[isChild='true'] {
    width: inherit;
}

.new-note-children {
    background: #f9efff;
}

.note-children {
    background: #bae2ff;
}

.buttonIcon {
    margin: 0px 5px 5px -5px;
}