<mat-card class="note-card" [formGroup]="noteFG" attr.newNote="{{newNote}}" attr.noteId="{{noteAttributes.ID.value}}">
    <mat-card-header>
        <mat-card-title>
            {{noteAttributes.ID.value}}
            <mat-form-field>
                <input matInput [matDatepicker]="index" formControlName="DATE" placeholder="Date">
                <mat-datepicker-toggle matSuffix [for]="index"></mat-datepicker-toggle>
                <mat-datepicker #index></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="TITLE" placeholder="Title">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="PARENT" placeholder="Parent">
            </mat-form-field>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <textarea matInput formControlName="NOTE" placeholder="Note"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="newNote" mat-button (click)="_ns.saveNote(noteAttributes.ID.value)">Save</button>
        <button *ngIf="!newNote" mat-button (click)="_ns.updateNote(noteAttributes.ID.value)">Update</button>
        <button *ngIf="newNote" mat-button (click)="_ns.deleteNewNote(noteAttributes.ID.value)">Delete</button>
        <button *ngIf="!newNote" mat-button (click)="_ns.deleteSavedNote(noteAttributes.ID.value)">Delete</button>
        <mat-spinner *ngIf="noteProperties['saving']" diameter="25" class="note-save-progress"></mat-spinner>
    </mat-card-actions>
</mat-card>