<div id="vdb-container" [class.vdb-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    {{ title }}
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="accent" (click)="addNote()">New Note</button>
  </mat-toolbar>

  <mat-sidenav-container id="vdb-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav id="vdb-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-list>
        <h3 mat-subheader>Spaces</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>test</h4>
          <p mat-line>123</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>asdf</h4>
          <p mat-line>234</p>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="notes-container">
        <mat-accordion id="notes-filters">
          <mat-expansion-panel [formGroup]="filterOptions">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filters
              </mat-panel-title>
              <mat-panel-description>
                Filters Applied
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
              <mat-select placeholder="Column" formControlName="column" (change)="columnChange()">
                <mat-option *ngFor="let column of columns" [value]="column.name">
                  {{ column.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Operator" formControlName="operator">
                <mat-option *ngFor="let operator of displayOperators" [value]="operator.value">{{ operator.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="filterValueType === 'DATE'">
              <input matInput [matDatepicker]="filter-picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="filter-picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="filterValueType === 'INT'">
              <input matInput placeholder="Value" type="number" formControlName="value">
            </mat-form-field>
            <mat-form-field *ngIf="filterValueType === 'TEXT'">
              <input matInput placeholder="Value" formControlName="value">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="applyFilters()">Apply Filters</button>
            <button mat-raised-button color="warn" (click)="clearFilters()">Clear Filters</button>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-list *ngIf="newNoteIndex > 0" role="list" id="notes-list" [formGroup]="newNotesFormGroup">
          <mat-list-item *ngFor="let newNoteId of getNotesArray(newNotesFormGroup); let i=index" role="listitem" class="note-card-item" [formGroup]="newNotesFormGroup.controls[newNoteId]">
            <!-- NEW NOTES -->
            <mat-card class="new-note-card">
              <mat-card-header>
                <mat-card-title>
                  ***
                  <mat-form-field>
                    <input matInput [matDatepicker]="index" formControlName="date" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="index"></mat-datepicker-toggle>
                    <mat-datepicker #index></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput formControlName="title" placeholder="Title">
                  </mat-form-field>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="full-width">
                  <textarea matInput formControlName="note" placeholder="Note" newNote="true" attr.noteId="{{newNoteId}}"></textarea>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="saveNote(newNoteId)">Save</button>
                <button mat-button (click)="deleteNewNote(newNoteId)">Delete</button>
              </mat-card-actions>
            </mat-card>
          </mat-list-item>
        </mat-list>
        <mat-list role="list" id="notes-list" [formGroup]="notesFormGroup">
          <mat-list-item *ngFor="let noteId of getNotesArray(notesFormGroup); let i=index" role="listitem" class="note-card-item" [formGroup]="notesFormGroup.controls[noteId]">
            <!-- SAVED NOTES -->
            <mat-card class="note-card">
              <mat-card-header>
                <mat-card-title>
                  {{noteId}}
                  <mat-form-field>
                    <input matInput [matDatepicker]="index" formControlName="date" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="index"></mat-datepicker-toggle>
                    <mat-datepicker #index></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput formControlName="title" placeholder="Title">
                  </mat-form-field>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="full-width">
                  <textarea matInput formControlName="note" placeholder="Note" attr.noteId="{{noteId}}"></textarea>
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="updateNote(noteId)">Save</button>
                <button mat-button (click)="deleteSavedNote(noteId)">Delete</button>
              </mat-card-actions>
            </mat-card>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>