<div id="vdb-container" [class.vdb-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    {{ title }}
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="accent" (click)="_ns.addNote()"><mat-icon mat-icon class="buttonIcon">note_add</mat-icon>New Note</button>
  </mat-toolbar>

  <mat-sidenav-container id="vdb-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav id="vdb-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-list>
        <h3 mat-subheader>Spaces</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>test</h4>
          <p mat-line>123</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>asdf</h4>
          <p mat-line>234</p>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <filter></filter>
      <div id="notes-container">
        <mat-list *ngIf="_ss.data.newNoteIndex > 0" role="list" id="notes-list">
          <mat-list-item *ngFor="let newNoteId of _ns.getNotesArray(_ss.data.newNotesFormGroup); let i=index" role="listitem" class="note-card-item">
            <!-- NEW NOTES -->
            <note [noteFG]="_ss.data.newNotesFormGroup.controls[newNoteId]" [noteProperties]="_ss.data.noteProperties['newNotes'][newNoteId]" [newNote]="true"></note>
          </mat-list-item>
        </mat-list>
        <mat-list role="list" id="notes-list">
          <mat-list-item *ngFor="let note of _ss.data.notes; let i=index" role="listitem" class="note-card-item">
            <!-- SAVED NOTES -->
            <note [noteFG]="_ss.data.notesFormGroup.controls[note.ID]" [noteProperties]="_ss.data.noteProperties['notes'][note.ID]" [newNote]="false"></note>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>