note {
    width: 97%;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

#vdb-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.buttonIcon {
    margin: 0px 5px 5px -5px;
}

.vdb-is-mobile {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

#vdb-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background: #f5f5f5;
}

#vdb-sidenav {
    width: 15%
}

.vdb-is-mobile .vdb-sidenav {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
    `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

#notes-container {
    height: 100%;
    width: 98%;
    margin: 20px;
}

#notes-list > .note-card-item {
    height: 100%;
    width: 100%;
    margin: 5px 0px 5px 0px;
}