<mat-accordion id="notes-filters">
    <mat-expansion-panel [formGroup]="filterOptions">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filters
            </mat-panel-title>
            <mat-panel-description>
                {{getFilterDescription()}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group>
            <mat-tab label="Filters">
                <mat-form-field>
                    <mat-select placeholder="Column" formControlName="column" (change)="columnChange()">
                        <mat-option *ngFor="let column of cache['columns']" [value]="column.name">{{ column.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Operator" formControlName="operator">
                        <mat-option *ngFor="let operator of displayOperators" [value]="operator.value">{{ operator.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="filterValueType === 'DATE'">
                    <input matInput [matDatepicker]="filterpicker" placeholder="Choose a date" formControlName="query">
                    <mat-datepicker-toggle matSuffix [for]="filterpicker"></mat-datepicker-toggle>
                    <mat-datepicker #filterpicker></mat-datepicker>
                </mat-form-field>
                <mat-checkbox *ngIf="filterValueType === 'DATE'" formControlName="today">Today</mat-checkbox>
                <mat-form-field *ngIf="filterValueType === 'INT'">
                    <input matInput placeholder="Query" type="number" formControlName="query">
                </mat-form-field>
                <mat-form-field *ngIf="filterValueType === 'TEXT'">
                    <input matInput placeholder="Query" formControlName="query">
                </mat-form-field>
            </mat-tab>
            <mat-tab label="Ordering">
                <mat-form-field>
                    <mat-select placeholder="Order By" formControlName="orderBy">
                        <mat-option *ngFor="let column of cache['columns']" [value]="column.name">{{ column.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Order" formControlName="order">
                        <mat-option *ngFor="let sort of sorts" [value]="sort.value">{{ sort.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-tab>
            <mat-tab label="Archives">
                <mat-checkbox formControlName="archives">Show Archives</mat-checkbox>
                <mat-checkbox formControlName="open">Show Open</mat-checkbox>
            </mat-tab>
        </mat-tab-group>
        <mat-form-field *ngIf="savedFilters()">
            <mat-select placeholder="Saved Filters" formControlName="selectedFilter" (change)="filterToggle()">
                <mat-option *ngFor="let filter of cache['filters']" [value]="filter.ID">{{ filter.NAME }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button *ngIf="filterValid() && !showingSavedFilter()" mat-raised-button color="primary" (click)="setupSave()">
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button *ngIf="showingSavedFilter()" mat-raised-button color="primary" (click)="deleteFilter()">
            <mat-icon>clear</mat-icon>
            Delete Filter
        </button>
        <button mat-raised-button color="accent" (click)="applyFilters()">Apply Filters</button>
        <button mat-raised-button color="warn" (click)="clearFilters()">Clear Filters</button>
    </mat-expansion-panel>
</mat-accordion>